<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.musicaflight.hourglass">

	<uses-permission android:name="android.permission.VIBRATE" />

	<!-- Required to act as a custom watch face. -->
	<uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Required for complications to receive complication data and open the provider chooser. -->
	<uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />

	<application
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup_descriptor"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity

			android:name=".MainActivity"
			android:label="@string/app_name"
			android:launchMode="singleTop"
			android:theme="@style/AppTheme.NoActionBar" />
		<!-- android:configChanges="orientation|screenSize" -->

		<activity
			android:name=".SplashActivity"
			android:theme="@style/SplashTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".DetailsActivity"
			android:launchMode="singleTop"
			android:theme="@style/AppTheme.DetailsTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		<activity
			android:name=".EditHourglassActivity"
			android:label="@string/edit_hourglass"
			android:parentActivityName=".DetailsActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".DetailsActivity" />
		</activity>
		<activity
			android:name=".NewHourglassActivity"
			android:label="@string/new_hourglass">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
	</application>

</manifest>